<div class="row">
  <div class="col-12">
    <h2>Administrar <small>Trabajadores</small></h2>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">RUT</th>
          <th scope="col">NOMBRES</th>
          <th scope="col">APELLIDOS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>18.108.559-2</td>
          <td>RUBEN EDUARDO</td>
          <td>TEJEDA ROA</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>11.593.360-K</td>
          <td>MARGARITA IRENE</td>
          <td>ROA ALVEAR</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>